			div {
				color: #666666;
				width: 500px;
				margin-top:20px;
				margin-right:auto;
				margin-left:auto;
			}
			span {
				color:#009900;
			}
			h1 {
				color:#660000;
				font-size:30px;
			}
			img {
				float:left;
				margin-right:20px;
				border-style: none;
			}
			a {
				font-size: 150%;
				font-weight: bold;
				color: #FF6666;
				text-decoration: none;
			}
			a:hover{
				color: #9900FF;
				text-decoration: underline;
					font-style: italic;
			}
			p#goto-profile a {
				background: url(../img/101031_btn2.gif) no-repeat left top;
				width: 140px;
				height: 36px;
				display: block;
				color: #FFFFFF;
				font-size: 15px;
				line-height: 36px;
				text-align: center;
			}
			p#goto-profile a:hover {
				background: url(../img/101031_btn2.gif) no-repeat right top;
			}
